<app-home></app-home>
<span>
  <div>
    <input [(ngModel)]="op1" type="number" name="" placeholder="numero 1 ">
    <input [(ngModel)]="op2" type="number" name="" placeholder="numero 2">
  </div>  
    <button (click)="sumar()">Sumar</button>
    <button (click)="restar()">Restar</button>
    <button (click)="multiplicar()">Multiplicar</button>
    <button (click)="dividir()">Dividir</button>
    <br>
    <p>El numero 1 es {{this.op1}}</p>
    <br>

    <p>El numero 2 es {{this.op2}}</p>
    <br>
    <h4>El resultado es {{this.res}}</h4>
   
</span>






